strong {
    padding: 8px;
}

.items {
    padding-left: 15px;
}

img {
    width: 200px;
    margin-bottom: -18px;
}

#header-text {
    color: white;
}

h1 {
    color: #146152;
    margin-top: 40px;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #44803F;
}

a:hover {
    color: #FFEC5C;
}

main {
    margin-bottom: 30px;
}

footer {
    position: fixed;
    bottom: 10px;
    background-color: #B4CF66;
    margin-left: -8px;
    margin-bottom: 0px;
    padding: 20px;
    width: 2000px;
}

header {
    background-color: #FF5A33;
    padding: 10px;
    margin: -10px;
    border-bottom: 2px solid black;
}

.menu-layout {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin-bottom: 80px;
}

#first-item {
    grid-column-start: 1;
}

#second-item {
    grid-column-start: 2;
}

#third-item {
    grid-column-start: 3;
}

#fourth-item {
    grid-column-start: 4;
}

ol {
    margin-bottom: 120px;
}

tr:nth-child(even) {
    background-color: rgb(198, 198, 198);
}
